* { 
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

#networkStatus {
  display: none;
  position: absolute;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  background: tomato;
  padding: 20px;
}

#networkStatus.offline {
  display: block;
}

#videoContainer {
  display: table;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

video {
  margin: 10px;
  border: 2px solid #000000;
}

textarea {
  width: 100%;
  height: 150px;
  resize: none;
  box-sizing: border-box;
}

.center {
  margin: auto;
  width: 100%;
  border: 3px solid #06a88e;
}

main {
  padding: 20px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

header ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

header ul li {
  width: 30%;
  text-align: center;
}

header i {
  font-size: 200%;
  width: 1.25em;
  height: 1.25em;
}

header button {
  border-radius: 50%;
  padding: 10px;
  border: 1px dashed #06a88e;
}

input {
  width: 100%;
}

video {
  width: 40%;
  height: 100%;
}

header button {
  font-size: 18px;
  border: 1px dashed #06a88e;
  background-color: #06a88e;
  color: #ffffff;
  padding: 0px;
}

header button:disabled,
header button[disabled] {
  border: 1px dashed #06a88e;
  background-color: #fff;
  color: #06a88e;
}

#answerButton i {
  transform: scaleX(-1);
}

#sendMessageButton {
  font-size: 18px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #00c071;
  padding: 5px;
  background: #06a88e;
  color: #FFF;
}

#messageInput {
  font-size: 16px;
  color: #242424;
  padding: 10px;
  margin-bottom: 10px;
  background: #f2f2f2;
  border: none;
  border-radius: 5px;
}
